@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');

body{
    background: #26547C;
}
#clock{
    font-family: Recursive, sans-serif;
    color: white;
    font-size: 100px;
    text-align: center;
    line-height: 750px;
}